.main_sap {
  display: flex;
  justify-content: start;
  font-family: 'Courier New', Courier, monospace;
  margin: 16px; 
  min-height: 80vh;
}

.main_menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: space-around;
  font-family: inherit;
}

.main_label {
  display: flex;
  gap: 8px;
  font-family: inherit;
}

.main_input {
  border: rgba(0 0 0 / 0.50) solid 1px;
  font-family: inherit;
  &:focus-visible {
    border: white 1px solid;
    outline: green solid 2px;  
  }
} 

.button_start {
  font-family: inherit; 
  width: 120px;
  height: 40px; 
  border: 1px solid black;
}

.button_reload {
  font-family: inherit; 
  width: 120px; 
  height: 40px; 
  border: 2px solid rgb(82, 21, 115);
}

.main_sup_container {
  background-color: black;
  border: 5px black solid;
}
.main_sap_background {
  display: flex;
}