.footer {
    display: flex;
    justify-content: end;
    border-top: solid 1px black;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 32px;
    font-family: inherit;
}